.sidebar-action-link {
	display: flex;
	align-items: center;
	gap: 4px;
}

.sidebar-action-card {
	background-color: white;
	border-width: 1px;
}
.sidebar-action-p {
	font-size: 1rem /* 16px */;
    line-height: 1.5rem /* 24px */;
    color: var(--fallback-p,oklch(var(--p)/1));
}
.sidebar-action-svg {
	width: 2.5rem;
	height: 2.5rem;
	fill: var(--fallback-p,oklch(var(--p)/1));
	color: rgb(255 255 255 / var(--tw-text-opacity));
	margin-inline-start: auto;
	color: white;
}


.committee-profile-image {
	width: 3rem;
	height: 3rem;
	border-radius: 9999px;
}

.orcid-logo {
	color: #A1C837;
	height: 1.25rem;
	width: 1.25rem;
}

.google-scholar-logo {
	color: #4185F4;
	height: 1.25rem;
	width: 1.25rem;
}

.scopus-logo {
	color: #e9711c;
	height: 1.25rem;
	width: 1.25rem;
}